In [1]:
# dataset https://www.coursera.org/learn/ml-foundations/supplement/6DeQc/retrieving-wikipedia-articles-assignment

In [2]:
import pandas as pd

In [65]:
df=pd.read_csv("./input/people_wiki.csv")

In [66]:
df.head(2)

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...

# Top word count words for Elton John

In [68]:
elton=df[df["name"]=="Elton John"]

In [99]:
selected_words= list(set(list(elton["text"])[0].split()))

In [101]:
for word in selected_words:

SyntaxError: unexpected EOF while parsing (<ipython-input-101-bb8023442f73>, line 1)

# Top TF-IDF words for Elton John

# The cosine distance between 'Elton John's and 'Victoria Beckham's articles (represented with TF-IDF) falls within which range?

# The cosine distance between 'Elton John's and 'Paul McCartney's articles (represented with TF-IDF) falls within which range?

# Who is closer to 'Elton John', 'Victoria Beckham' or 'Paul McCartney'?

# Who is the nearest cosine-distance neighbor to 'Elton John' using raw word counts?

# Who is the nearest cosine-distance neighbor to 'Elton John' using TF-IDF?

# Who is the nearest cosine-distance neighbor to 'Victoria Beckham' using raw word counts?

# Who is the nearest cosine-distance neighbor to 'Victoria Beckham' using TF-IDF?