In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("./input/song_data.csv")

In [3]:
df.head()

,user_id,song_id,listen_count,title,artist,song
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,The Cove,Jack Johnson,The Cove - Jack Johnson
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2,Entre Dos Aguas,Paco De Lucia,Entre Dos Aguas - Paco De Lucia
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1,Stronger,Kanye West,Stronger - Kanye West
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1,Constellations,Jack Johnson,Constellations - Jack Johnson
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,1,Learn To Fly,Foo Fighters,Learn To Fly - Foo Fighters

## Question 1. Which of the artists below have had the most unique users listening to their songs?

In [62]:
# general score
uniques=df.groupby(["artist"]).nunique().sort_values(by=['user_id'], ascending=False)
uniques.head()
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.nunique.html

                        user_id  song_id  listen_count  title  artist  song
artist
Kings Of Leon              7373       30           101     30       1    30
Coldplay                   6340       58            54     58       1    58
Harmonia                   5970        1            51      1       1     1
Björk                      5834       11            96     11       1    11
Florence + The Machine     5615       16            60     16       1    16

In [46]:
# the asked musicians
bands=["Kayne West", "Foo Fighters", "Taylor Swift", "Lady Gaga"]
for b in bands:
    print(b, ": ", df[df['artist']==b]['user_id'].nunique())

Kayne West :  0
Foo Fighters :  2055
Taylor Swift :  3246
Lady Gaga :  0

## Question 2. Which of the artists below is the most popular artist, the one with highest total listen_count, in the data set?

In [52]:
#  df.groupby(["column_to_group"])["column_to_show_stuff"].math_ops() <= :D 
# but this generates a panda series, so it is necessary to transform into dataframe again

listen_count=df.groupby(['artist'])['listen_count'].sum().to_frame().sort_values(by=['listen_count'], ascending=False)
listen_count

In [57]:
listen_count.reset_index(inplace=True)

In [60]:
listen_count.columns

In [62]:
listen_count.head(3)

          artist  listen_count
0  Kings Of Leon         43218
1  Dwight Yoakam         40619
2          Björk         38889

## Question 3. Which of the artists below is the least popular artist, the one with smallest total listen_count, in the data set?

In [65]:
least=["William Tabbert", "Velvet Uncerground & Nico", "Kayne West", "The Cool Kids"]

In [76]:
for l in least:
     print(l, ": ", listen_count.loc[listen_count["artist"]==l],"\n")

William Tabbert :                 artist  listen_count
3374  William Tabbert            14

Velvet Uncerground & Nico :  Empty DataFrame
Columns: [artist, listen_count]
Index: []

Kayne West :  Empty DataFrame
Columns: [artist, listen_count]
Index: []

The Cool Kids :               artist  listen_count
3297  The Cool Kids            73