# Deep features for image retrieval

In [1]:
import pandas as pd

In [5]:
image_train = pd.read_csv('input/image_train_data.csv')

In [6]:
image_train.head()

,id,image,label,deep_features,image_array
0,24,Height: 32 Width: 32,bird,[0.242872 1.09545 0 0.39363 0 0 11.8949 0 0 0 ...,[73 77 58 71 68 50 77 69 44 120 116 83 125 120...
1,33,Height: 32 Width: 32,cat,[0.525088 0 0 0 0 0 9.94829 0 0 0 0 0 1.01264 ...,[7 5 8 7 5 8 5 4 6 7 4 7 11 5 9 11 5 9 17 11 1...
2,36,Height: 32 Width: 32,cat,[0.566016 0 0 0 0 0 9.9972 0 0 0 1.38345 0 0.7...,[169 122 65 131 108 75 193 196 192 218 221 222...
3,70,Height: 32 Width: 32,dog,[1.1298 0 0 0.778194 0 0.758051 9.83053 0 0 0....,[154 179 152 159 183 157 165 189 162 174 199 1...
4,90,Height: 32 Width: 32,bird,[1.71787 0 0 0 0 0 9.33936 0 0 0 0 0 0.412137 ...,[216 195 180 201 178 160 210 184 164 212 188 1...

# 1. What’s the least common category in the training data?

Computing summary statistics of the data: Sketch summaries are techniques for computing summary statistics of data very quickly. Using the training data, compute the sketch summary of the ‘label’ column and interpret the results. What’s the least common category in the training data? Save this result to answer the quiz at the end.

In [26]:
# my solution
sketch_s=image_train.groupby(["label"],sort=0)["label"].count().to_frame()
sketch_s

            label
label
bird          478
cat           509
dog           509
automobile    509

In [27]:
# it is missing renaming count columns. internet solution: create a new column with lambda
sketch_sum = image_train.groupby(['label'],sort=0).apply( lambda g: pd.Series({\
    'count': g.label.count(),\
    }))
sketch_sum

            count
label
bird          478
cat           509
dog           509
automobile    509

# Of the images below, which is the nearest ‘cat’ labeled image in the training data to the the first image in the test data (image_test[0:1])?

In [ ]:
# terminado en pc despacho, mergea esto